<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="row">
        <div class="item item-thumbnail-left item-text-wrap col col-75">
            <p><b>Our Address</b></p>
            <p>121, Clear Water Bay Road</p>
            <p>Clear Water Bay, Kowloon</p>
            <p>HONG KONG</p>
            <p><i class="icon ion-ios-telephone"></i>: +852 1234 5678</p>
            <p><i class="icon ion-printer"></i>: +852 8765 4321</p>
            <p><i class="icon ion-email"></i>:confusion@food.net</p>
        </div>
    </div>
    </div>
    <button class="button button-positive">Call</button>
    <button class="button button-calm">Skype</button>
    <button class="button button-balanced">Email</button>
  </ion-content>
</ion-view>
